build*
build/
build
emummc*
emummc/
emummc
atmosphere*
atmosphere/
atmosphere
bootloader*
bootloader/
bootloader
.vscode*
.vscode/
.vscode
EmuMmcConfig.elf*
EmuMmcConfig.elf/
EmuMmcConfig.elf
EmuMmcConfig.nacp*
EmuMmcConfig.nacp/
EmuMmcConfig.nacp
EmuMmcConfig.nro*
EmuMmcConfig.nro/
EmuMmcConfig.nro

